DebugConsole/Connected Services/BLL_Service/Discussme.BLL.DbObjects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Discussme.BLL.DbObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Discussme.BLL.DbObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TopicB">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatorId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SectionId" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TopicB" nillable="true" type="tns:TopicB" />
  <xs:complexType name="ArrayOfTopicB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TopicB" nillable="true" type="tns:TopicB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTopicB" nillable="true" type="tns:ArrayOfTopicB" />
  <xs:complexType name="SectionB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SectionB" nillable="true" type="tns:SectionB" />
</xs:schema>